## EDA For Midterm assignment

In [1]:
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cross_validation import train_test_split
import random

%matplotlib inline

In [2]:
df = pd.read_csv('midterm_train.csv')
y = df.pop('y')

In [3]:
df.head()

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x40,x41,x42,x43,x44,x45,x46,x47,x48,x49
0,-0.166563,-3.961588,4.621113,2.481908,-1.800135,0.804684,6.718751,-14.789997,-1.040673,-4.204950,...,-10.612200,-1.497117,5.414063,-2.325655,1.674827,-0.264332,60.781427,-7.689696,0.151589,-8.040166
1,-0.149894,-0.585676,27.839856,4.152333,6.426802,-2.426943,40.477058,-6.725709,0.896421,0.330165,...,2.147427,36.292790,4.490915,0.762561,6.526662,1.007927,15.805696,-4.896678,-0.320283,16.719974
2,-0.321707,-1.429819,12.251561,6.586874,-5.304647,-11.311090,17.812850,11.060572,5.325880,-2.632984,...,-0.863137,-0.368491,9.088864,-0.689886,-2.731118,0.754200,30.856417,-7.428573,-2.090804,-7.869421
3,-0.245594,5.076677,-24.149632,3.637307,6.505811,2.290224,-35.111751,-18.913592,-0.337041,-5.568076,...,12.084421,15.691546,-7.467775,2.940789,-6.424112,0.419776,-72.424569,5.361375,1.806070,-7.670847
4,-0.273366,0.306326,-11.352593,1.676758,2.928441,-0.616824,-16.505817,27.532281,1.199715,-4.309105,...,30.004727,-13.911297,-5.229937,1.783928,3.957801,-0.096988,-14.085435,-0.208351,-0.894942,15.724742

In [4]:
df.describe()
# Things I see here include 45 variables summarized and 50 variables above.  That must mean 5 non numeric fields

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x40,x41,x42,x43,x44,x45,x46,x47,x48,x49
count,159974.000000,159975.000000,159962.000000,159963.000000,159974.000000,159963.000000,159974.000000,159973.000000,159979.000000,159970.000000,...,159964.000000,159960.000000,159974.000000,159963.000000,159960.000000,159971.000000,159969.000000,159963.000000,159968.000000,159968.000000
mean,-0.001028,0.001358,-1.150145,-0.024637,-0.000549,0.013582,-1.670670,-7.692795,-0.030540,0.005462,...,-2.316526,6.701076,-1.833820,-0.002091,-0.006250,0.000885,-12.755395,0.028622,-0.000224,-0.674224
std,0.371137,6.340632,13.273480,8.065032,6.382293,7.670076,19.298665,30.542264,8.901185,6.355040,...,17.043549,18.680196,5.110705,1.534952,4.164595,0.396621,36.608641,4.788157,1.935501,15.036738
min,-1.592635,-26.278302,-59.394048,-35.476594,-28.467536,-33.822988,-86.354483,-181.506976,-37.691045,-27.980659,...,-74.059196,-82.167224,-27.933750,-6.876234,-17.983487,-1.753221,-201.826828,-21.086333,-8.490155,-65.791191
25%,-0.251641,-4.260973,-10.166536,-5.454438,-4.313118,-5.148130,-14.780146,-27.324771,-6.031058,-4.260619,...,-13.953629,-5.804080,-5.162869,-1.039677,-2.812055,-0.266518,-36.428329,-3.216016,-1.320800,-10.931753
50%,-0.002047,0.004813,-1.340932,-0.031408,0.000857,0.014118,-1.948594,-6.956789,-0.016840,0.006045,...,-2.701867,6.840110,-1.923754,-0.004385,-0.010484,0.001645,-12.982497,0.035865,-0.011993,-0.574410
75%,0.248532,4.284220,7.871676,5.445179,4.306660,5.190749,11.446931,12.217071,5.972349,4.305734,...,8.981616,19.266367,1.453507,1.033275,2.783274,0.269049,11.445443,3.268028,1.317703,9.651072
max,1.600849,27.988178,63.545653,38.906025,26.247812,35.550110,92.390605,149.150634,39.049831,27.377842,...,88.824477,100.050432,22.668041,6.680922,19.069759,1.669205,150.859415,20.836854,8.226552,66.877604

In [5]:
# numeric variables
numeric_variables = list(df.dtypes[df.dtypes != "object"].index)
df[numeric_variables].shape

(160000, 45)

In [6]:
# non numeric variables
categorical_variables = list(df.dtypes[df.dtypes == 'object'].index)
df[categorical_variables].shape

(160000, 5)

In [7]:
# taking a quick look at the categoricals
df[categorical_variables].head()

      x24   x29        x30     x32        x37
0  euorpe  July    tuesday    0.0%   $1313.96
1    asia   Aug  wednesday  -0.02%   $1962.78
2    asia  July  wednesday  -0.01%    $430.47
3    asia  July  wednesday   0.01%  $-2366.29
4    asia  July    tuesday   0.01%   $-620.66

In [8]:
df['x24'].value_counts()

asia       138965
euorpe      16538
america      4469
Name: x24, dtype: int64

In [9]:
df['x29'].value_counts()

July       45569
Jun        41329
Aug        29406
May        21939
sept.      10819
Apr         6761
Oct         2407
Mar         1231
Nov          337
Feb          140
Dev           23
January        9
Name: x29, dtype: int64

In [10]:
df['x30'].value_counts()

wednesday    101535
thurday       29429
tuesday       27954
friday          564
monday          488
Name: x30, dtype: int64

In [11]:
df['x32'].value_counts()
#continuous

0.01%     40767
-0.01%    34094
0.0%      33923
-0.0%     30492
-0.02%     9924
0.02%      7987
-0.03%     1727
0.03%       855
-0.04%      138
0.04%        55
-0.05%        6
0.05%         1
Name: x32, dtype: int64

In [12]:
df['x37'].value_counts()   
#continuous

$237.4       6
$341.26      6
$-336.77     6
$-415.46     6
$618.22      6
$72.42       6
$-311.26     6
$-378.49     5
$-687.33     5
$-231.0      5
$-525.72     5
$995.07      5
$185.79      5
$-744.84     5
$-533.64     5
$47.62       5
$387.18      5
$-371.18     5
$-34.02      5
$757.41      5
$447.15      5
$-391.18     5
$-771.89     5
$-203.24     5
$15.62       5
$458.98      5
$1154.12     5
$-134.05     5
$-1018.16    5
$198.09      5
            ..
$1166.08     1
$557.39      1
$-1648.28    1
$527.18      1
$-661.63     1
$-670.03     1
$59.68       1
$1956.96     1
$-1791.02    1
$1850.32     1
$673.7       1
$-789.87     1
$-820.84     1
$-47.16      1
$-746.5      1
$1386.32     1
$-1658.23    1
$-847.19     1
$1045.85     1
$81.52       1
$281.07      1
$1794.93     1
$-241.46     1
$1481.06     1
$-598.93     1
$267.21      1
$338.2       1
$-1484.1     1
$15.46       1
$-260.24     1
Name: x37, dtype: int64

In [13]:
# a key idea is that I want to know how good my model is BEFORE I submit it to kaggle, 
# so I'm going to take my training example and make my own test/train split.  I'll hold my test out and use
# that to judge my model before submitting.
random.seed = 42
df = pd.read_csv("midterm_train.csv")
df_train, df_test = train_test_split(df)
df_train.to_csv("my_midterm_train_split.csv", index=False)
df_test.to_csv("my_midterm_test_split.csv", index=False)

In [19]:
df2 = pd.get_dummies(df, columns=['x24','x30'] )

In [20]:
df2.columns

Index(['x0', 'x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8', 'x9', 'x10',
       'x11', 'x12', 'x13', 'x14', 'x15', 'x16', 'x17', 'x18', 'x19', 'x20',
       'x21', 'x22', 'x23', 'x25', 'x26', 'x27', 'x28', 'x29', 'x31', 'x32',
       'x33', 'x34', 'x35', 'x36', 'x37', 'x38', 'x39', 'x40', 'x41', 'x42',
       'x43', 'x44', 'x45', 'x46', 'x47', 'x48', 'x49', 'y', 'x24_america',
       'x24_asia', 'x24_euorpe', 'x30_friday', 'x30_monday', 'x30_thurday',
       'x30_tuesday', 'x30_wednesday'],
      dtype='object')

In [30]:
df.x32.str.replace('$', '').str.replace('%', '').astype(float)

0         0.00
1        -0.02
2        -0.01
3         0.01
4         0.01
5        -0.01
6        -0.01
7         0.01
8        -0.03
9         0.01
10        0.01
11        0.02
12        0.01
13       -0.01
14       -0.00
15       -0.01
16       -0.01
17       -0.00
18        0.00
19       -0.00
20       -0.02
21       -0.01
22        0.01
23       -0.00
24        0.00
25        0.02
26        0.01
27        0.01
28       -0.02
29        0.01
          ...
159970   -0.01
159971   -0.01
159972    0.02
159973    0.01
159974    0.02
159975   -0.01
159976    0.00
159977    0.02
159978    0.01
159979   -0.00
159980   -0.01
159981   -0.00
159982   -0.02
159983   -0.00
159984   -0.01
159985    0.00
159986    0.01
159987    0.01
159988   -0.01
159989   -0.01
159990    0.00
159991    0.01
159992   -0.00
159993   -0.01
159994   -0.02
159995    0.00
159996   -0.01
159997   -0.00
159998   -0.02
159999    0.02
Name: x32, dtype: float64

In [27]:
a

0         1313.96
1         1962.78
2          430.47
3        -2366.29
4         -620.66
5         -196.45
6         -241.04
7          621.35
8         -301.89
9         -484.09
10        -106.65
11        -622.76
12         545.55
13        1019.08
14         960.95
15         299.52
16          72.83
17         -12.09
18        1074.27
19        -426.46
20        -710.18
21         370.01
22       -1199.52
23         -12.09
24        2158.38
25        -464.60
26        -526.08
27       -1321.42
28         771.15
29          41.97
           ...
159970     954.38
159971     621.19
159972    1032.85
159973     729.11
159974    -167.10
159975     -33.14
159976    -409.63
159977    -126.15
159978     191.61
159979   -1356.91
159980     599.35
159981    -613.38
159982    2251.59
159983      -5.87
159984     198.30
159985   -1788.89
159986    -118.39
159987      15.62
159988     134.18
159989    -677.95
159990   -1012.45
159991   -1720.76
159992   -1177.33
159993    -818.32
159994    -823.35
159995    -891.96
159996    1588.65
159997     687.46
159998     439.21
159999   -1229.34
Name: x37, dtype: float64