## EDA For Midterm assignment

In [1]:
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cross_validation import train_test_split
import random

%matplotlib inline

/home/mike/anaconda/lib/python3.5/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
df = pd.read_csv('./data/midterm_train.csv')
y = df.pop('y')

In [4]:
df.head()

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x40,x41,x42,x43,x44,x45,x46,x47,x48,x49
0,-5.900707,0.469389,4.733068,9.223027,3.170787,0.024669,-2.055880,-2.045466,3.004170,0.02%,...,-5.335641,-3.694592,-1.008670,wednesday,$-180.16,1.236134,4.462951,4.592803,-0.034478,3.680401
1,-3.530391,4.229818,-4.619433,2.154913,5.619903,-1.955667,7.713001,-1.279395,14.941269,0.0%,...,-8.490805,6.414948,5.831287,tuesday,$432.31,-6.570015,-5.308026,-5.462467,-0.229518,-2.332947
2,1.003389,-0.012547,6.250503,3.368675,1.711321,6.192718,4.166159,-0.363055,15.175681,-0.01%,...,-4.172583,0.371862,-7.025987,wednesday,$-119.17,-66.851394,-11.084558,-11.407072,6.395551,3.545332
3,-16.041769,-3.243507,-0.546649,-11.594427,5.111965,0.609785,-1.540136,-1.227567,-16.460535,-0.0%,...,1.666316,-2.920478,-2.135088,thurday,$-1309.54,0.442939,11.808383,12.151957,-2.923916,-1.471336
4,20.498575,10.766191,1.478032,-5.723594,-0.768839,-3.482515,-11.169389,-0.361478,2.194909,-0.02%,...,-0.757455,-1.769904,-0.532896,wednesday,$-1103.32,61.136654,48.077895,49.476758,1.043061,9.927952

In [5]:
df.describe()
# Things I see here include 45 variables summarized and 50 variables above.  That must mean 5 non numeric fields

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x10,...,x38,x39,x40,x41,x42,x45,x46,x47,x48,x49
count,159964.000000,159973.000000,159973.000000,159963.000000,159969.000000,159971.000000,159973.000000,159974.000000,159965.000000,159962.000000,...,159960.000000,159952.000000,159969.000000,159980.000000,159965.000000,159972.000000,159974.000000,159970.000000,159974.000000,159974.000000
mean,1.540669,2.020926,0.007805,2.471131,0.004914,0.100313,0.020943,0.000992,0.004064,-0.004841,...,-0.010644,0.019918,-0.014515,-0.004971,0.006440,0.882868,0.070251,0.072817,-0.004404,-0.004627
std,16.401459,7.462316,6.806854,9.624773,6.275538,2.173207,7.753960,2.414990,9.165963,2.845066,...,8.982346,6.698498,4.973109,5.428919,6.743532,23.987879,17.732750,18.248654,4.468600,3.610345
min,-68.981217,-31.258618,-30.506154,-36.350492,-27.575136,-13.677304,-32.781282,-11.615171,-38.961689,-11.978764,...,-39.316884,-27.076148,-23.265768,-24.602106,-32.319316,-121.292948,-72.694807,-74.809917,-20.696774,-16.991354
25%,-9.450919,-2.890069,-4.609020,-4.029733,-4.225946,-1.375403,-5.197125,-1.639263,-6.159416,-1.921991,...,-6.067157,-4.508069,-3.381291,-3.668357,-4.523615,-14.596689,-12.239755,-12.595786,-3.020220,-2.438833
50%,1.841792,2.202444,0.010002,2.584225,-0.005805,0.058102,-0.017482,0.000816,0.244471,-0.001742,...,0.039189,0.027664,0.001465,-0.017824,0.010728,0.890783,-0.449057,-0.462448,-0.000494,-0.001601
75%,12.786656,7.002078,4.623164,9.015845,4.256802,1.550611,5.268370,1.627674,6.257305,1.918158,...,6.044008,4.550137,3.344760,3.649917,4.562162,16.559588,11.987409,12.336756,3.003253,2.424888
max,70.882303,39.193550,28.699898,47.313496,28.571894,10.006106,34.460095,10.794778,39.216249,13.644499,...,42.025025,29.862557,23.132292,22.938242,28.980718,136.368013,77.429817,79.682696,19.217507,15.117022

In [6]:
# numeric variables
numeric_variables = list(df.dtypes[df.dtypes != "object"].index)
df[numeric_variables].shape

(160000, 45)

In [7]:
# non numeric variables
categorical_variables = list(df.dtypes[df.dtypes == 'object'].index)
df[categorical_variables].shape

(160000, 5)

In [8]:
# taking a quick look at the categoricals
df[categorical_variables].head()

       x9     x16   x19        x43        x44
0   0.02%    asia   Jun  wednesday   $-180.16
1    0.0%    asia   Jun    tuesday    $432.31
2  -0.01%    asia  July  wednesday   $-119.17
3   -0.0%    asia   Aug    thurday  $-1309.54
4  -0.02%  euorpe   May  wednesday  $-1103.32

In [10]:
df['x16'].value_counts()

asia       138509
america     12146
euorpe       9309
Name: x16, dtype: int64

In [11]:
df['x19'].value_counts()

Jun        44659
July       42410
May        27535
Aug        23909
Apr         9945
sept.       7522
Mar         2030
Oct         1508
Feb          264
Nov          160
January       18
Dev           11
Name: x19, dtype: int64

In [12]:
df['x43'].value_counts()

wednesday    101016
thurday       31969
tuesday       25955
friday          562
monday          471
Name: x43, dtype: int64

In [11]:
df['x32'].value_counts()
#continuous

0.01%     40767
-0.01%    34094
0.0%      33923
-0.0%     30492
-0.02%     9924
0.02%      7987
-0.03%     1727
0.03%       855
-0.04%      138
0.04%        55
-0.05%        6
0.05%         1
Name: x32, dtype: int64

In [12]:
df['x37'].value_counts()   
#continuous

$237.4       6
$341.26      6
$-336.77     6
$-415.46     6
$618.22      6
$72.42       6
$-311.26     6
$-378.49     5
$-687.33     5
$-231.0      5
$-525.72     5
$995.07      5
$185.79      5
$-744.84     5
$-533.64     5
$47.62       5
$387.18      5
$-371.18     5
$-34.02      5
$757.41      5
$447.15      5
$-391.18     5
$-771.89     5
$-203.24     5
$15.62       5
$458.98      5
$1154.12     5
$-134.05     5
$-1018.16    5
$198.09      5
            ..
$1166.08     1
$557.39      1
$-1648.28    1
$527.18      1
$-661.63     1
$-670.03     1
$59.68       1
$1956.96     1
$-1791.02    1
$1850.32     1
$673.7       1
$-789.87     1
$-820.84     1
$-47.16      1
$-746.5      1
$1386.32     1
$-1658.23    1
$-847.19     1
$1045.85     1
$81.52       1
$281.07      1
$1794.93     1
$-241.46     1
$1481.06     1
$-598.93     1
$267.21      1
$338.2       1
$-1484.1     1
$15.46       1
$-260.24     1
Name: x37, dtype: int64

In [13]:
# a key idea is that I want to know how good my model is BEFORE I submit it to kaggle, 
# so I'm going to take my training example and make my own test/train split.  I'll hold my test out and use
# that to judge my model before submitting.
random.seed = 42
df = pd.read_csv("midterm_train.csv")
df_train, df_test = train_test_split(df)
df_train.to_csv("my_midterm_train_split.csv", index=False)
df_test.to_csv("my_midterm_test_split.csv", index=False)

In [19]:
df2 = pd.get_dummies(df, columns=['x24','x30'] )

In [20]:
df2.columns

Index(['x0', 'x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8', 'x9', 'x10',
       'x11', 'x12', 'x13', 'x14', 'x15', 'x16', 'x17', 'x18', 'x19', 'x20',
       'x21', 'x22', 'x23', 'x25', 'x26', 'x27', 'x28', 'x29', 'x31', 'x32',
       'x33', 'x34', 'x35', 'x36', 'x37', 'x38', 'x39', 'x40', 'x41', 'x42',
       'x43', 'x44', 'x45', 'x46', 'x47', 'x48', 'x49', 'y', 'x24_america',
       'x24_asia', 'x24_euorpe', 'x30_friday', 'x30_monday', 'x30_thurday',
       'x30_tuesday', 'x30_wednesday'],
      dtype='object')

In [30]:
df.x32.str.replace('$', '').str.replace('%', '').astype(float)

0         0.00
1        -0.02
2        -0.01
3         0.01
4         0.01
5        -0.01
6        -0.01
7         0.01
8        -0.03
9         0.01
10        0.01
11        0.02
12        0.01
13       -0.01
14       -0.00
15       -0.01
16       -0.01
17       -0.00
18        0.00
19       -0.00
20       -0.02
21       -0.01
22        0.01
23       -0.00
24        0.00
25        0.02
26        0.01
27        0.01
28       -0.02
29        0.01
          ...
159970   -0.01
159971   -0.01
159972    0.02
159973    0.01
159974    0.02
159975   -0.01
159976    0.00
159977    0.02
159978    0.01
159979   -0.00
159980   -0.01
159981   -0.00
159982   -0.02
159983   -0.00
159984   -0.01
159985    0.00
159986    0.01
159987    0.01
159988   -0.01
159989   -0.01
159990    0.00
159991    0.01
159992   -0.00
159993   -0.01
159994   -0.02
159995    0.00
159996   -0.01
159997   -0.00
159998   -0.02
159999    0.02
Name: x32, dtype: float64

In [27]:
a

0         1313.96
1         1962.78
2          430.47
3        -2366.29
4         -620.66
5         -196.45
6         -241.04
7          621.35
8         -301.89
9         -484.09
10        -106.65
11        -622.76
12         545.55
13        1019.08
14         960.95
15         299.52
16          72.83
17         -12.09
18        1074.27
19        -426.46
20        -710.18
21         370.01
22       -1199.52
23         -12.09
24        2158.38
25        -464.60
26        -526.08
27       -1321.42
28         771.15
29          41.97
           ...
159970     954.38
159971     621.19
159972    1032.85
159973     729.11
159974    -167.10
159975     -33.14
159976    -409.63
159977    -126.15
159978     191.61
159979   -1356.91
159980     599.35
159981    -613.38
159982    2251.59
159983      -5.87
159984     198.30
159985   -1788.89
159986    -118.39
159987      15.62
159988     134.18
159989    -677.95
159990   -1012.45
159991   -1720.76
159992   -1177.33
159993    -818.32
159994    -823.35
159995    -891.96
159996    1588.65
159997     687.46
159998     439.21
159999   -1229.34
Name: x37, dtype: float64